{% extends 'base.html' %}

{% block content %}
    <article>
{#        <header>#}
{#            <h2>Quizzes</h2>#}
{#            <span>Go higher</span>#}
{#        </header>#}
        <section>
            <div class="d-flex justify-content-center">
                {% for p in quizzes %}
                    <div class="card w-75 m-3">
                        <div class="card-body">
                            <h4 class="card-title"><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h4>
                            <h5 class="card-subtitle"><i class="fa-solid fa-calendar-days"></i> {{ p.created_at }} by {{ p.author }}</h5>
                            <h5 class="card-subtitle"><a href="{% url 'hub:quiz_results_list' p.id %}">View my related
                                results</a></h5>
                            <p class="card-text">{{ p.description|truncatewords:20|linebreaks }}{% lorem %}</p>

                            <p class="card-text">
                                Questions : {{ p.question_count }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </article>
{% endblock %}