{% extends 'base.html' %}

{% block content %}
    <article>
        <section class="row d-flex justify-content-evenly">
            <div class="card w-75 p-3 m-2">
                <div class="card-body">
                    <table class="table table-hover table-responsive table-striped">
                        <thead>
                        <tr>
                            <td>Item</td>
                            <td>#</td>
{#                            <td>Description</td>#}
                        </tr>

                        </thead>

                        {% for foo in lottery %}
                            <tr>
                                <td>{{ foo.title|capfirst }}</td>
                                <td>{{ foo.number }}</td>
{#                                <td>{{ foo.description }}</td>#}
                            </tr>
                        {% empty %}
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </section>
    </article>
{% endblock %}